@page "/posts"
@using System.Security.Claims
@using ApiContracts.CommentDTOs
@using BlazorApp.Service
@using ApiContracts.PostDTOs
@using ApiContracts.UserDTOs
@inject IPostService PostService
@inject ICommentService CommentService
@inject IUserService UserService
@inject IJSRuntime JS
@inject NavigationManager NavMgr

<PageTitle>Posts</PageTitle>
<h3>Posts</h3>
<button class="btn btn-primary" @onclick="GetPosts">Get Posts</button>
<AuthorizeView>
    <Authorized>
        <div>
            <h3>Create a new Post:</h3>
            <div>
                <label>Title: </label>
                <input type="text" @bind="createPostTitle">
            </div>
            <div>
                <label>Body: </label>
                <textarea @bind="createPostBody"></textarea>
            </div>
            <button class="btn btn-primary" @onclick="AddPost">Add Post</button>
        </div>
    </Authorized>
</AuthorizeView>
@if (posts is null)
{
    <p>Click the button to load posts.</p>
}
else if (posts.Count == 0)
{
    <p>No posts found.</p>
}
else
{
    <ul class="list-group mt-3">
        @foreach (var post in posts)
        {
            <li class="list-group-item" id="@post.PostId">
                <h5>@post.PostId) @post.Title</h5>
                        @if (isAuthenticated && userIdLoggedIn.HasValue && userIdLoggedIn.Value == post.UserId)
                        {
                            <button class="btn btn-primary" @onclick="() => EditPost(post)">Edit</button>
                            <button class="btn btn-primary" @onclick="() => DeletePost(post)">Delete</button>   
                        }
                <h6>Written by: @users.Find(u => u.Id == post.UserId)?.UserName</h6>
                <p>@post.Body</p>
                <div>
                    <input type="text" @bind="createCommentBody" placeholder="Body...">
                    <button class="btn btn-primary" @onclick="() => AddComment(post.PostId)">Add Comment</button>
                </div>
                @foreach (var comment in comments.Where(c => c.PostId == post.PostId))
                {
                    <p>@comment.Body</p>
                    <p>Written by: @users.Find(u => u.Id == comment.UserId)?.UserName</p>
                    @if (isAuthenticated && userIdLoggedIn.HasValue && userIdLoggedIn.Value == comment.UserId)
                    { 
                        <button class="btn btn-secondary" @onclick="() => EditComment(comment)">Edit</button>
                        <button class="btn btn-secondary" @onclick="() => DeleteComment(comment)">Delete</button>
                    }
                    @if (selectedComment != null && selectedComment.CommentId == comment.CommentId)
                    {
                        <div>
                            <h3>Update Comment:</h3>
                            <div>
                                <label>Body: </label>
                                <textarea @bind="editCommentBody"></textarea>
                            </div>
                            <button class="btn btn-primary" @onclick="SaveEditedComment">Save Comment</button>
                        </div>
                    }
                }
            @if (selectedPost != null && selectedPost.PostId == post.PostId)
                {
                    <div>
                        <h3>Update Post:</h3>
                        <div>
                            <label>Title: </label>
                            <input type="text" @bind="editPostTitle"></input>
                        </div>
                        <div>
                            <label>Body: </label>
                            <textarea @bind="editPostBody"></textarea>
                        </div>
                        <button class="btn btn-primary" @onclick="SaveEditedPost">Save Post</button>
                    </div>
                }
            </li>
        }
    </ul>
}



@code {
    [CascadingParameter] public Task<AuthenticationState> State { get; set; }
    private bool isAuthenticated;
    private List<PostDTO>? posts;
    private List<UserDTO>? users;
    private List<CommentDTO>? comments;
    private string createPostTitle = string.Empty;
    private string createPostBody = string.Empty;
    private string createCommentBody = string.Empty;
    private string editPostTitle = string.Empty;
    private string editPostBody = string.Empty;
    private string editCommentBody = string.Empty;
    private PostDTO? selectedPost;
    private CommentDTO? selectedComment;
    private string? userNameLoggedIn = string.Empty;
    private int? userIdLoggedIn;
    
    protected override async Task OnInitializedAsync()
    {
        await GetLoggedInUserData();
        await GetUsers();
        await GetPosts();
        await GetComments();
    }

    private async Task GetLoggedInUserData()
    {
        AuthenticationState authenticationState = await State; 
        ClaimsPrincipal claimsPrincipal = authenticationState.User; 

        if (claimsPrincipal.Identity is null || !claimsPrincipal.Identity.IsAuthenticated)
        {
            isAuthenticated = false;
            userIdLoggedIn = null;
            userNameLoggedIn = null;
            return; 
        } 

        isAuthenticated = true;
        userNameLoggedIn = claimsPrincipal.Identity?.Name; 

        Claim? idClaim = claimsPrincipal.FindFirst(ClaimTypes.NameIdentifier);
        if (idClaim is null)
        {
            userIdLoggedIn = null;
            return;
        }

        if (int.TryParse(idClaim.Value, out int parsedId))
        {
            userIdLoggedIn = parsedId;
        }
        else
        {
            userIdLoggedIn = null;
        }
    }

    
    private async Task GetComments()
    {
        comments = await CommentService.GetAllCommentsAsync();
    }

    private async Task GetUsers()
    {
        users =  await UserService.GetAllUsersAsync();
    }
    
    private async Task GetPosts()
    {
        posts = await PostService.GetAllPostsAsync();
    }
    
    private async Task AddPost()
    {
        if (!isAuthenticated || !userIdLoggedIn.HasValue)
        {
            NavMgr.NavigateTo("/login");
            return;
        }
        
        var newPost = new CreatePostDTO
        {
            Title = createPostTitle,
            Body = createPostBody,
            UserId = userIdLoggedIn.Value
        };
        await PostService.AddPostAsync(newPost);
        createPostTitle = string.Empty;
        createPostBody = string.Empty;
        await GetPosts();
    }

    private async Task DeletePost(PostDTO post)
    {
        await PostService.DeletePostAsync(post.PostId);
        await GetPosts();
    }

    private async Task EditPost(PostDTO post)
    {
        if (selectedPost is null)
        {
            selectedPost = post;
            editPostTitle = post.Title;
            editPostBody  = post.Body;
        }
        else
        {
            selectedPost = null;
            editPostBody = string.Empty;
            editPostTitle = string.Empty;
        }
    }

    private async Task SaveEditedPost()
    {
        var updatePost = new PostDTO()
        {
            PostId = selectedPost.PostId,
            Title = editPostTitle,
            Body = editPostBody,
            UserId = selectedPost.UserId
        };
        var updatedPost = await PostService.UpdatePostAsync(updatePost.PostId, updatePost);
        editPostBody = string.Empty;
        editPostTitle = string.Empty;
        selectedPost = null;
        await GetPosts();
    }

    private async Task AddComment(int postId)
    {
        if (!isAuthenticated || !userIdLoggedIn.HasValue)
        {
            NavMgr.NavigateTo("/login");
            return;
        }

        CreateCommentDTO createComment = new()
        {
            Body = createCommentBody,
            PostId = postId,
            UserId = userIdLoggedIn.Value
        };
        await CommentService.AddCommentAsync(createComment);
        createCommentBody = string.Empty;
        await GetComments();
    }

    private async Task DeleteComment(CommentDTO commentDto)
    {
        await CommentService.DeleteCommentAsync(commentDto.CommentId);
        await GetComments();
    }

    private async Task EditComment(CommentDTO commentDto)
    {
        if (selectedComment is null)
        {
            selectedComment = commentDto;
            editCommentBody = commentDto.Body;
        }
        else
        {
            selectedComment = null;
            editCommentBody = string.Empty;
        }
    }

    private async Task SaveEditedComment()
    {
        CommentDTO commentDto = new()
        {
            CommentId = selectedComment.CommentId,
            Body = editCommentBody,
            PostId = selectedComment.PostId,
            UserId = selectedComment.UserId
        };
        await CommentService.UpdateCommentAsync(commentDto.CommentId, commentDto);
        editCommentBody = string.Empty;
        selectedComment = null;
        await GetComments();
    }
}